.App {
  text-align: center;
  background-color: white;
  color: black;
  margin: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
}

.Question-page{
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Q {
  font-size: 50px;
  margin-bottom: 1rem;
}

.required {
  color: #772E25;
}

.Location-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

.Address-field, .State-field, .City-field, .Zip-field {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 30px;
}

#Address, #City, #State, #Zip {
  background-color: #F2F2F2;
  border-radius: 25px;
  width: 75%;
  height: 50px;
  margin-right: 1.5rem;
}

.Checkboxes {
  font-size: 40px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4rem;
}

#No, #Yes {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.Nav-Buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Nav-btn {
  background-color: #197278;
  width: 135px;
  height: 60px;
  border-radius: 15px;
  font-size: 40px;
}

.Nav-Buttons-One {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 2rem;
}

.Box {
  height: 15px;
  width: 15px;
}

h1 {
  font-size: 100px;
  font-weight: bolder;
}

.Descr {
  font-size: 30px;
}

.Start-btn {
  background-color: #197278;
  margin: 2.5rem;
  width: 180px;
  height: 80px;
  border-radius: 25px;
  font-size: 50px;
}

.Result-intro {
  font-size: 50px;
}

.Result-explanation {
  font-size: 25px;
}

.Result-card {
  border: 1px solid black;
  border-radius: 25px;
  width: 60%;
  text-align: left;
  padding: .5rem;
  padding-left: 2rem;
  padding-right: 3rem;
}

.Result-section-flexbox {
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
}

.Single-result-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Testing-center {
  font-size: 30px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-weight: bolder;
}

.Testing-center-address {
  font-size: 25px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: #283D3B;
  font-weight: bold;
}

.Testing-center-hours {
  font-size: 20px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.Testing-phone {
  font-size: 20px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.Testing-distance {
  font-size: 25px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-weight: bold;
}

.Criteria-checklist {
  font-size: 24px;
  text-align: left;
  margin-left: 1rem;
}

.Criteria {
  margin: 1rem;
}

.Checkmark {
  color: #197278;
}

.x-mark {
  color: #c44536;
}

.Error-message {
  font-size: 50px;
}

.App-link {
  color: #61dafb;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(40, 61, 59, 0.75)
}

.Box:hover {
  cursor: pointer;
}

a:hover {
  color: #197278;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
